.footer {
  padding: 35px 0;
  // background: grey;
  border-top: 1px solid #23A455;
  // .footer__container
  &__container {
    display: flex;
    align-items: center; 
    max-width: 100%;
    padding: 0 50px;
  }
  // .footer__row
  &__row { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
  }
  // .footer__menu
  &__menu {
    display: flex;
    flex-wrap: wrap;
  }
}




